In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier #implements decision tree algo

In [2]:
music_data = pd.read_csv('music_data_preproc.csv')

music_data.columns=['age','gender', 'genre']

In [3]:
music_data.head()

   age  gender genre
0   17  female  rock
1   18  female  rock
2   19  female  rock
3   20  female  rock
4   21  female   pop

In [4]:
X = music_data.drop(columns=['genre'])

In [5]:
X.head()

   age  gender
0   17  female
1   18  female
2   19  female
3   20  female
4   21  female

In [6]:
for i, x in X.iterrows():
    if X.loc[i, 'gender'] == 'female':
        X.loc[i, 'gender'] = 1
    else:
        X.loc[i, 'gender'] = 0
X.head()

   age  gender
0   17       1
1   18       1
2   19       1
3   20       1
4   21       1

In [7]:
y = music_data['genre']

In [8]:
y.head()

0    rock
1    rock
2    rock
3    rock
4     pop
Name: genre, dtype: object

In [9]:
model = DecisionTreeClassifier()

In [10]:
model.fit(X,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [11]:
#how to make prediction?
# sample input:
# predictions = model.predict([[age,gender]])
#such as:
#predictions = model.predict([[22,1], [25,0]])
predictions = model.predict([[22,1], [25,0]])

In [12]:
print("Use this prediction to recommend music to people")

predictions

Use this prediction to recommend music to people

array(['pop', 'jazz'], dtype=object)